In [ ]:
# datatype -- user or developer assign only 1 value or 1 element
# data Structure -- user assign more than one value or more elements to a variable
# table or dataframe -- collection of data structure 
#data Structure  =  collection of datatype

'''DataStructure divided into 2 parts 
1. inbuild data structure
   List
   Tuple
   Set
   Dictionary
   Range
2. user define data structure
    Stack
    Heap
    Linked List
    Tree
    Queue
    hashmap


--> user define datastrure automatically take care by some library or modul
--> sklearn,tenserflow,numpy,pandas,matplotlib,seaborn

'''

In [44]:
# List
#List assign with [] brackets
#append() -- add the element at last
#copy() -- copy the list
#count() -- count the number of element in the list
#list - multiple datatype is allowed
#list duplicate is allowed

l = []

In [11]:
l

[]

In [12]:
print(type(l))

<class 'list'>

In [13]:
print(len(l))

0

In [14]:
print(id(l))

2619854320896

In [15]:
l.append(10)

In [16]:
l

[10]

In [17]:
l.append(20)
l.append(30)
l.append(40)

In [18]:
l

[10, 20, 30, 40]

In [19]:
len(l)

4

In [20]:
l

[10, 20, 30, 40]

In [21]:
l1 = l.copy()
l1

[10, 20, 30, 40]

In [22]:
l == l1

True

In [23]:
l !=l1

False

In [24]:
l1

[10, 20, 30, 40]

In [25]:
l1.append(50)
l1.append(100)

In [26]:
l == l1

False

In [27]:
l != l1

True

In [28]:
print(len(l))
print(len(l1))

4
6

In [30]:
print(l)
print(l1)

[10, 20, 30, 40]
[10, 20, 30, 40, 50, 100]

In [31]:
id(l1)

2619854797120

In [32]:
l1.clear()

In [33]:
l1

[]

In [34]:
id(l1)

2619854797120

In [35]:
l

[10, 20, 30, 40]

In [36]:
l.append(10.0)

In [37]:
l

[10, 20, 30, 40, 10.0]

In [38]:
l.append(12,34)

TypeError: list.append() takes exactly one argument (2 given)

In [39]:
l.append('nit')
l.append(1 + 2j)
l.append(True)
l.append([1,2,3])

In [4]:
l

NameError: name 'l' is not defined

In [42]:
l.append(10)

In [3]:
l

NameError: name 'l' is not defined

In [2]:
l.count(10)

NameError: name 'l' is not defined

In [5]:
l = [10,20,30,40,"nit",1 + 2j,True,[1,2,3],10]
l

[10, 20, 30, 40, 'nit', (1+2j), True, [1, 2, 3], 10]

In [6]:
l.count(10)

2

In [7]:
l

[10, 20, 30, 40, 'nit', (1+2j), True, [1, 2, 3], 10]

In [8]:
l.remove(1+2j)

In [9]:
l

[10, 20, 30, 40, 'nit', True, [1, 2, 3], 10]

In [10]:
l.pop()

10

In [11]:
l

[10, 20, 30, 40, 'nit', True, [1, 2, 3]]

In [ ]:
l.pop() #it remove elemnt using index wise /by default last

[1, 2, 3]

In [14]:
l

[10, 20, 30, 40, 'nit', True]

In [ ]:
l.remove(True)#remove elemnet directly no index required

In [16]:
l

[10, 20, 30, 40, 'nit']

In [17]:
l.append(1+2j)
l.append(20)

In [18]:
l

[10, 20, 30, 40, 'nit', (1+2j), 20]

In [19]:
l.pop(2)

30

In [20]:
l

[10, 20, 40, 'nit', (1+2j), 20]

In [21]:
l1 = [10,2.3]

In [22]:
l.index('nit')

3

In [23]:
l

[10, 20, 40, 'nit', (1+2j), 20]

In [24]:
l.index(20)

1

In [25]:
l.extend([1,2,3])

In [26]:
l

[10, 20, 40, 'nit', (1+2j), 20, 1, 2, 3]

In [27]:
l.insert(2, 100)

In [28]:
l

[10, 20, 100, 40, 'nit', (1+2j), 20, 1, 2, 3]

In [29]:
l.insert(4, 5)

In [30]:
l

[10, 20, 100, 40, 5, 'nit', (1+2j), 20, 1, 2, 3]

In [31]:
l.insert(5, 6 )

In [32]:
l

[10, 20, 100, 40, 5, 6, 'nit', (1+2j), 20, 1, 2, 3]

In [33]:
print(l)
print(l1)

[10, 20, 100, 40, 5, 6, 'nit', (1+2j), 20, 1, 2, 3]
[10, 2.3]

In [34]:
l

[10, 20, 100, 40, 5, 6, 'nit', (1+2j), 20, 1, 2, 3]

In [35]:
l.reverse()

In [36]:
l

[3, 2, 1, 20, (1+2j), 'nit', 6, 5, 40, 100, 20, 10]

In [ ]:
l1.sort() #sort has tow parameter (key and reverse=False[by default it is a false])

In [40]:
l1

[2.3, 10]

In [42]:
l1.sort(reverse= True)

In [43]:
l1

[10, 2.3]

In [44]:
l

[1, 2, 3, 20, (1+2j), 'nit', 100, 40, 20, 10, 6, 5]

In [45]:
l[0] = 100

In [46]:
l

[100, 2, 3, 20, (1+2j), 'nit', 100, 40, 20, 10, 6, 5]

In [ ]:
txt = " abc def ghi "
print(txt.lstrip())
print(txt.strip())

abc def ghi
abc def ghi

In [ ]:
#List Slicing
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
print(mylist[0:3])
print(mylist[2:5])
print(mylist[:3])
print(mylist[:2] )
print(mylist[-3:] )
print(mylist[-2:] )
print(mylist[-1] )
print(mylist[:])

['one', 'two', 'three']
['three', 'four', 'five']
['one', 'two', 'three']
['one', 'two']
['six', 'seven', 'eight']
['seven', 'eight']
eight
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [4]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
#Add , Remove and Change items
mylist.append('nine') # Add an item to the end of the list
print(mylist)

mylist.insert(9,'ten') # Add item at index location 9
print(mylist)

mylist.insert(1,'ONE') 
print(mylist)

mylist.remove('ONE')
print(mylist)

mylist.pop() 
print(mylist)

mylist.pop(8) 
print(mylist)

mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
['one', 'ONE', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
[1, 2, 3, 'four', 'five', 'six', 'seven', 'eight']

In [9]:
#Copy List
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [12]:
mylist1 = mylist
mylist1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [14]:
id(mylist) , id(mylist1)

(1564198501824, 1564198501824)

In [15]:
mylist2 = mylist.copy()

In [16]:
id(mylist2)

1564206654400

In [19]:
mylist[0] = 1
print(mylist)
print(mylist1)
print(mylist2)

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [20]:
#Join List
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [21]:
list3 = list1 + list2 
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [22]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [66]:
#List Membership
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [68]:
'one' in list1

True

In [69]:
'ten' in list1

False

In [70]:
if 'three' in list1: # Check if 'three' exist in the list
  print('Three is present in the list')
else:
  print('Three is not present in the list')

Three is present in the list

In [71]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
   print('eleven is present in the list')
else:
   print('eleven is not present in the list')

eleven is not present in the list

In [72]:
#Reverse and Sort List
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [73]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [74]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [75]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [76]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [78]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)

[11, 21, 33, 65, 88, 98]

In [79]:
print(mylist4)

[88, 65, 33, 21, 11, 98]

In [80]:
#Loop through a list 
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [81]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [82]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [ ]:
#tunning model
#parameter -system given parameter
#hyperparameter - user change change the system parameter
#finetune - change the hyperparameter to get the best result

In [24]:
# 4 Aug
#Tuple - always assigned with () brackets
#Tuple is immutable - once assigned we can not change the value

t = ()
t

()

In [25]:
type(t)

tuple

In [26]:
t = (10,20,30)
t

(10, 20, 30)

In [27]:
len(t)

3

In [28]:
t1 = (10,2.3, "nit",1+2j,True, 10,20)
t1

(10, 2.3, 'nit', (1+2j), True, 10, 20)

In [29]:
print(t)
print(t1)

(10, 20, 30)
(10, 2.3, 'nit', (1+2j), True, 10, 20)

In [30]:
t.count(10)

1

In [31]:
t1.count(10)

2

In [32]:
t1.count(2.3)

1

In [33]:
t1.index(2.3)

1

In [34]:
t

(10, 20, 30)

In [35]:
sbi = (123456,"yryfjj4867",'dob-3rd march 1987','mob-123456')
sbi

(123456, 'yryfjj4867', 'dob-3rd march 1987', 'mob-123456')

In [ ]:
sbi[0]= 857684 #not change (read only mode)

TypeError: 'tuple' object does not support item assignment

In [37]:
t

(10, 20, 30)

In [38]:
t2 =t * 3

In [39]:
t2

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [40]:
print(t)
print(t1)
print(t2)

(10, 20, 30)
(10, 2.3, 'nit', (1+2j), True, 10, 20)
(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [41]:
t1[1:6]

(2.3, 'nit', (1+2j), True, 10)

In [ ]:
t2[1:6:3] # print the index value starting from 1st index ends with 6th index by step index 3 value

(20, 20)

In [43]:
t2[1:6:5]

(20,)

In [44]:
t1[:]

(10, 2.3, 'nit', (1+2j), True, 10, 20)

In [46]:
t1[::-1]

(20, 10, True, (1+2j), 'nit', 2.3, 10)

In [47]:
t2

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [48]:
t2[::-2]

(30, 10, 20, 30, 10)

In [49]:
t2[::2]

(10, 30, 20, 10, 30)

In [50]:
t2[::-3]

(30, 30, 30)

In [53]:
t3 = (1,2,3,4,5,6,7,8)
print(t3[:])
print(t3[1:9])
print(t3[1:])
print(t3[:9])
print(t3[1:9:3])
print(t3[::-1])
print(t3[::])
print(t3[::-3])
print(t3[3:-1])

(1, 2, 3, 4, 5, 6, 7, 8)
(2, 3, 4, 5, 6, 7, 8)
(2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8)
(2, 5, 8)
(8, 7, 6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6, 7, 8)
(8, 5, 2)
(4, 5, 6, 7)

In [ ]:
print(t3[1:7:3])
print(t3[::-3])

(2, 5)
(8, 5, 2)

In [57]:
for i in t3:
    print(i)

1
2
3
4
5
6
7
8

In [58]:
for i in enumerate(t1):
    print(i)

(0, 10)
(1, 2.3)
(2, 'nit')
(3, (1+2j))
(4, True)
(5, 10)
(6, 20)

In [ ]:
#Range
range(5)# this arg u can pass at most 3 argument(start stop and step)

range(0, 5)

In [60]:
list(range(5))

[0, 1, 2, 3, 4]

In [61]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [63]:
list(range(10,50,5))

[10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
#sets and dictionary
s = {} # by default it is a dictionary
type(s)

dict

In [86]:
s1 = set()
s1

set()

In [ ]:
s1 = {90,4,50,32,3,1} #if you crate set() and then it work {}
s1 # if you define radom value it will not maintain the order of the element

{1, 3, 4, 32, 50, 90}

In [88]:
type(s1)

set

In [90]:
s2 = {'z','m','a','o','d'}
print(s2)
print(type(s2))

{'d', 'm', 'a', 'o', 'z'}
<class 'set'>

In [91]:
print(s1)
print(s2)

{32, 1, 50, 3, 4, 90}
{'d', 'm', 'a', 'o', 'z'}

In [93]:
print(len(s1))
print(len(s2))

6
5

In [94]:
s3 = { 1, 3.2, 1+2j,True}
s3

{(1+2j), 1, 3.2}

In [95]:
s1

{1, 3, 4, 32, 50, 90}

In [96]:
s1.add(100) # add the element to the set
s1

{1, 3, 4, 32, 50, 90, 100}

In [ ]:
s1.add(1) # sets do not allow duplicate element
s1

{1, 3, 4, 32, 50, 90, 100}

In [98]:
s1.add(5)
s1

{1, 3, 4, 5, 32, 50, 90, 100}

In [99]:
print(s1)

{32, 1, 50, 3, 4, 100, 5, 90}

In [101]:
s3.clear()
s3

set()

In [102]:
s4 = s1.copy()
s4

{1, 3, 4, 5, 32, 50, 90, 100}

In [ ]:
s1[0] #indexing is not allowed in set

TypeError: 'set' object is not subscriptable

In [ ]:
s1[1:5] #slicing is not allowed in set

TypeError: 'set' object is not subscriptable

In [105]:
s1

{1, 3, 4, 5, 32, 50, 90, 100}

In [106]:
s1.pop()

32

In [107]:
s1

{1, 3, 4, 5, 50, 90, 100}

In [108]:
s1.pop()

1

In [109]:
s1

{3, 4, 5, 50, 90, 100}

In [110]:
s1.pop(0)

TypeError: set.pop() takes no arguments (1 given)

In [111]:
s2

{'a', 'd', 'm', 'o', 'z'}

In [112]:
s1

{3, 4, 5, 50, 90, 100}

In [116]:
s1

{3, 5, 50, 90, 100}

In [ ]:
s1.discard(1000)#discard is used to remove the element from the set if it is present otherwise it will not give any error

In [118]:
s1

{3, 5, 50, 90, 100}

In [ ]:
s1.discard(3)# remove the element is member or not a member never show you error

In [120]:
s1

{5, 50, 90, 100}

In [ ]:
#set Operations
#1.union
#.2 intersection
#3. dfiference
#4. symmetric difference
#5. issubset
#6. issuperset
#7. isdisjoint

#1.Union
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [125]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [126]:
a.union(b) # union of two sets

{1, 2, 3, 4, 5, 6, 7, 8}

In [127]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [128]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [129]:
a | b | c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [130]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [131]:
a.intersection(b)

{4, 5}

In [132]:
a.intersection(c)

set()

In [ ]:
a & b # intersection of two sets

{4, 5}

In [134]:
a.difference(b)

{1, 2, 3}

In [135]:
a.difference(c)

{1, 2, 3, 4, 5}

In [136]:
b.difference(a)

{6, 7, 8}

In [137]:
c.difference(a)

{8, 9, 10}

In [138]:
b - c

{4, 5, 6, 7}

In [ ]:
c - b

{9, 10}

In [146]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [ ]:
a.symmetric_difference(b) # or a^b

{1, 2, 3, 6, 7, 8}

In [ ]:
a ^ b

{1, 2, 3, 4, 5, 6, 7}

In [141]:
b.symmetric_difference(a)

{1, 2, 3, 6, 7, 8}

In [142]:
a.symmetric_difference(c)

{1, 2, 3, 4, 5, 8, 9, 10}

In [143]:
b.symmetric_difference(c)

{4, 5, 6, 7, 9, 10}

In [144]:
c.symmetric_difference(a)

{1, 2, 3, 4, 5, 8, 9, 10}

In [145]:
c.symmetric_difference(b)

{4, 5, 6, 7, 9, 10}

In [147]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [149]:
a.difference_update(b)
a

{1, 2, 3}

In [151]:
b.difference_update(c)
b

{4, 5, 6, 7}

In [152]:
print(a)
print(b)
print(c)

{1, 2, 3}
{4, 5, 6, 7}
{8, 9, 10}