In [1]:
print("welcome to nareshit under guidence prakash senapati")

welcome to nareshit under guidence prakash senapati

In [2]:
"welcome to nareshit under guidence prakash senapati"

'welcome to nareshit under guidence prakash senapati'

In [3]:
'''welcome to nareshit
under guidence 
prakash senapati'''

'welcome to nareshit\nunder guidence \nprakash senapati'

In [5]:
s = "nit"
s

'nit'

In [6]:
print(s[0])
print(s[1])
print(s[-1])

n
i
t

In [1]:
import sys
sys.version

'3.11.0 (main, Oct 24 2022, 18:26:48) [MSC v.1933 64 bit (AMD64)]'

In [ ]:
print(10 // 5) # int division
print(10/5 )   #float division

2
2.0

In [ ]:
# id(variable name) - show the  address of variable
id(s) # memory Allocation

2905491201456

In [ ]:
#rules define variable/object
#1.variable never start with number.
#2.variables are case sensivite.
#3.Call the variable with the name which you define.
#(optimization =breakdown long code into a short form of code .)
#4.Special character will not a variable except underscore(_).
#5.keyword or reserve word we can not define as variable or identifiers.
# c- reserve word ,c++,python,java
import keyword
keyword.kwlist
#len(keyword.kwlist)

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [31]:
first_name = 'Shravani'
last_name = 'Joshi'
country = 'India'
city = 'Nanded'
age = 23
is_married = False
skills = ['HTML', 'CSS', 'JS', 'php', 'Python']
person_info = {
    'firstname':'Shravani', 
    'lastname':'Joshi', 
    'country':'India',
    'city':'Chh.Sambhaji nagar'
    }
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Shravani
First name length: 8
Last name:  Joshi
Last name length:  5
Country:  India
City:  Nanded
Age:  23
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'php', 'Python']
Person information:  {'firstname': 'Shravani', 'lastname': 'Joshi', 'country': 'India', 'city': 'Chh.Sambhaji nagar'}

In [33]:
first_name, last_name, country, age, is_married = 'Shravani', 'Joshi', 'India', 23, False

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Shravani Joshi India 23 False
First name: Shravani
Last name:  Joshi
Country:  India
Age:  23
Married:  False

In [16]:
#1. numbers
print(10)
print(10 + 10)
print(20 - 2)
print(20 / 4)
print(20 // 6)
print(100 % 5)

10
20
18
5.0
3
0

In [ ]:
#3.dataTypes also called as values
#1.int
i = 45
print(i) #int -- number without decimal

'''Function -- function ends with ():
variable -- doesnot ends declare

german_brand_car = 100000000
German_brand_car(): --function without argument
German_brand_car(audi)-- function with argument

argument == parameter
varible == identifier == object
'''

45

'Function -- function ends with ():\nvariable -- doesnot ends declare\n\ngerman_brand_car = 100000000\nGerman_brand_car(): --function without argument\nGerman_brand_car(audi)-- function with argument\n\nargument == parameter\nvarible == identifier == object\n'

In [2]:
type(i)

int

In [23]:
print(type(10))                  # Int
print(type(9.34))                # Float
print(type(1 + 3j))              # Complex
print(type('Shravani'))          # String
print(type([1, 2, 3]))           # List
print(type({'name':'Shravani'})) # Dictionary
print(type({2.4, 3.14, 9.7}))    # Set
print(type((2.4, 3.14, 9.7)))    # Tuple
print(type(7 == 7))              # Bool
print(type(7 >= 7))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

In [ ]:
# 2.float
f = 110.45  # float -- value with decimal ( float only e latter is allowed)
print(f)        
f1 = 1e0
print(f1)
print(type(f))
print(type(f1))

f2 = 2e1 # 2 * 10.0 == 20.0
print(f2)

f3 = 2.4e2 # 24 / 10 *  100 == 240.0
print(f3)

f4 = 2.5E3
print(f4)

110.45
1.0
<class 'float'>
<class 'float'>
20.0
240.0
2500.0

In [17]:
# 3.boolean
z = True
print(type(z))
# teue = 1
print(True + False)
print(True + True) 
print(True * False)
print(False / True)
print(False // True)
#print(True / False) divided by 0  (runtime eroor)

<class 'bool'>
1
2
0
0.0
0

In [3]:
#complex --> 
c= 1 + 2j
print(c)
print(type(c))
print(c.real)
print(c.imag)

(1+2j)
<class 'complex'>
1.0
2.0

In [4]:
d =10 + 20j
e = 30 + 40j
s = d + e
print(s)

(40+60j)

In [12]:
#String
s1 = " Nareshit"
print(s1)
#print(s1[0])
#print(s1[1])

s2 = " Technology"
s3 = " under guidence of prakash senapati"
print(s2)
print(s3)

print(s1 + s2 + s3)

 Nareshit
 Technology
 under guidence of prakash senapati
 Nareshit Technology under guidence of prakash senapati

In [17]:
#Arithmatic Operator
print("Addition : ", 20 + 4)
print("Subtraction : ", 20 - 4)
print("Multiplication : ", 20 * 4)
print("Division : ", 20 / 4)
print("Remainder : ", 20 % 4)
print("Division without the remainder : ", 20 // 4)
print("Exponential : ", 3 ** 4)

Addition :  24
Subtraction :  16
Multiplication :  80
Division :  5.0
Remainder :  0
Division without the remainder :  5
Exponential :  81

In [30]:
print(3 > 2)     
print(3 >= 2)    
print(3 < 2)     
print(2 < 3)     
print(2 <= 3)    
print(3 == 2)   
print(3 != 2)    
print(len('mango') == len('avocado'))  
print(len('mango') != len('avocado'))  
print(len('mango') < len('avocado'))   
print(len('milk') != len('meat'))      
print(len('milk') == len('meat'))      
print(len('tomato') == len('potato'))  
print(len('python') > len('dragon'))

True
True
False
True
True
False
True
False
True
True
False
True
True
False

In [25]:
# Boolean comparison
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [18]:
num_one = 3
num_two = 4
add = num_one + num_two
print("The addition of" , num_one ,"and" , num_two ,"is =", add)

The addition of 3 and 4 is = 7

In [19]:
num_one = 3
num_two = 4
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

In [20]:
radius = 5                               
area_of_circle = 3.14 * radius ** 2         
print('Area of a circle:', area_of_circle)

Area of a circle: 78.5

In [21]:
length = 10
width = 10
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 100

In [22]:
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

735.75 N

In [24]:
#print with format method

num1 = 20
num2 = 30

add = num1 + num2
print("The addition of {} and {} is = {}".format(num1,num2,add))

The addition of 20 and 30 is = 50

In [ ]:
# Print with end statement
print("Hello", end = " ")
print("Good Morning")

Hello Good Morning

In [ ]:
#Print with sapertaor
print('hello' ,'hai' , 'how are you', sep= '---->')

hello---->hai---->how are you

In [ ]:
'''Agentic Ai IDE ==>
cursor AI '''

In [ ]:
#python Typecasting - convert one datatypes to another datatypes
#from all other datatype to integer except complex and string with text
int(2.3)

1

In [5]:
int(True)

1

In [ ]:
int(False)

In [ ]:
int('10')

10

In [ ]:
#from all other datatype to Float except complex and string with text
float(20)

20.0

In [11]:
float(True)

1.0

In [13]:
float('10')

10.0

In [ ]:
#from all data types are Possible
complex(10)

(10+0j)

In [18]:
complex(10.2)

(10.2+0j)

In [19]:
complex(True)

(1+0j)

In [20]:
complex(False)

0j

In [21]:
complex(10.20.30)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3667847385.py, line 1)

In [22]:
complex("10")

(10+0j)

In [23]:
complex("hh")

ValueError: complex() arg is a malformed string

In [24]:
complex(10,'10')

TypeError: complex() second arg can't be a string

In [26]:
complex('10',10)

TypeError: complex() can't take second arg if first is a string

In [27]:
complex(10,int('10'))

(10+10j)

In [28]:
complex(True,False)

(1+0j)

In [29]:
complex(False,False)

0j

In [ ]:

#from all other datatpye to float possible
bool(1)

True

In [31]:
bool(13)

True

In [32]:
bool(True)

True

In [33]:
bool("10")

True

In [34]:
bool( )

False

In [38]:
bool(1+2j)

True

In [35]:
string(10)

NameError: name 'string' is not defined

In [37]:
print(str(1))
print(str(1.5))
print(str(True))
print(str(1+2j))

1
1.5
True
(1+2j)

In [ ]:
#string Indexing
'''
1. forwared indexing
2. backward indexing
3.step indexing'''

In [1]:
s = "Nareshit"
s

'Nareshit'

In [2]:
s[0]

'N'

In [3]:
s[-1]

't'

In [11]:
s1 = 'hello'

In [5]:
s1

'hello'

In [9]:
s1[:]

'hello'

In [10]:
s1[0:2]

'he'

In [8]:
s1[:2]

'he'

In [15]:
print(s1[0])
print(s1[1])
print(s1[2])
print(s1[3])
print(s1[4])

h
e
l
l
o

In [13]:
for i in s1:
    print(i)

h
e
l
l
o

In [16]:
s

'Nareshit'

In [17]:
s1 + s

'helloNareshit'

In [18]:
s3 = s1 + s
s3

'helloNareshit'

In [19]:
for i in s3:
    print(i)

h
e
l
l
o
N
a
r
e
s
h
i
t

In [20]:
s[3:7]

'eshi'

In [22]:
s1[2:5]

'llo'

In [24]:
s2 = ['r','g','y']
s2

['r', 'g', 'y']

In [25]:
s2[1:4]

['g', 'y']